<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports Results API | Home</title>
</head>
<body>
    <p>Hello, and welcome to the Sports Results API!</p>
    <p>You can easily get match scores for your favourite league by visiting
        the following endpoint: '/api/v1/scores/:league'.
    </p>
    <p>
        Available leagues are: <ul>
        <li>'NBA' - National Basketball Association, Basketball, USA</li>
        <li>'PL' - Premier League, Football, UK</li>
    </ul>
        Simply visit the relevant page of the scores API e.g. '/api/v1/scores/PL'
        to get all the match scores for the season.
    </p>
</body>
</html>